alias ls="exa --long --all --icons --sort=type"
alias c="cd .."

alias so="cd /home/carlos/Codigo/SO"
alias pp="cd /home/carlos/Codigo/PP"
alias algo="cd /home/carlos/Codigo/ALGO"
alias dots="cd /home/carlos/.dotfiles"

alias ga="git add"
alias gc="git commit -m"
alias gp="git push"

alias vi="nvim"

# To enable battery conservation mode 
# setcharging 1

# To disable it
# setcharging 0

# Default is enabled
function setcharging()
{
        echo ${1:-1}  | sudo tee /sys/bus/platform/drivers/ideapad_acpi/VPC2004\:00/conservation_mode
}
